<div class="wrapper">
<div class="navbar">
    <div class="navbar-left">
      <img src="assets/bug-logo.jpg" alt="Logo" class="logo">
      <h1 class="title">&nbsp;Bug Tracker</h1>
    </div>
    <div class="navbar-right">
      <a href="#"><b>Products</b></a>
      <a href="#"><b>Details</b></a>
      <a href="#"><b>SignIn</b></a>
    </div>
  </div>
  
  <div class="container">
    <div class="sidebar">
      <ul>
        <li><a href="#"><b>Contact</b></a></li>
        <li><a href="#"><b>Calendar</b></a></li>
        <li><a href="#"><b>Settings</b></a></li>
      </ul>
    </div>
    <div class="center text-center">
      <!-- Add more content here -->
      <h2>Welcome to Bug Tracker</h2>
      <p class="blockquote">Bug tracking is the process of logging and monitoring bugs or errors during software testing. It is also referred to as defect tracking or issue tracking. Large systems may have hundreds or thousands of defects. Each needs to be evaluated, monitored and prioritized for debugging. In some cases, bugs may need to be tracked over a long period of time.
        <br>
        “Defect tracking is an important process in software engineering, as complex and business critical systems have hundreds of defects,” says Tutorials Point. “One of the challenging factors is managing, evaluating and prioritizing these defects. The number of defects gets multiplied over a period of time and to effectively manage them, a defect tracking system is used to make the job easier."</p>
        <br>
        <br>
        <p class="blockquote">Improve software testing by tracking errors and defects</p>
      <button class="btn btn-primary">Get Started</button>
     
    </div>
  </div>
  <footer class="footer py-4">
    <p style="text-align: center;">&copy; 2023 Bug Tracker. All rights reserved.</p>
  </footer>
</div>


<!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
      const sidebar = document.getElementById("sidebar");
      const sidebarToggle = document.getElementById("sidebar-toggle");

      sidebarToggle.addEventListener("mouseover", function() {
        sidebar.classList.add("sidebar-expand");
      });

      sidebar.addEventListener("mouseleave", function() {
        sidebar.classList.remove("sidebar-expand");
      });
    });
  </script> -->


